<!DOCTYPE html>
<html lang="en" ng-app="DoxChainApp" ng-controller="LoginCtrl">
<head>
    <meta charset="UTF-8">
    <title>DoxChain</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>

    <!-- ngDialog: Modals and popups provider for Angular.js applications -->
    <link rel="stylesheet" href="bower_components/ng-dialog/css/ngDialog.min.css">
    <link rel="stylesheet" href="bower_components/ng-dialog/css/ngDialog-theme-default.min.css">
    <script src="bower_components/ng-dialog/js/ngDialog.min.js"></script>
</head>
<body>

<div>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">DoxChain</a>
        <!-- Login Form-->
        <form class="navbar-form navbar-right" role="login" ng-hide="isLoggedin">
            <button class="btn btn-outline-light" ng-click="openLoginDlg()">Login</button>
        </form>
        <!-- Logout Form -->
        <form class="navbar-form navbar-right" role="logout" ng-show="isLoggedin">
            <label style="color: white">Hello {{ username }}!</label>
            <button class="btn btn-outline-light" id="logout" ng-click="logout()">Logout</button>
        </form>
    </nav>

    <main role="main">
        <div ng-view></div>
    </main>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

<script src="app/app.js"></script>
<script src="app/services/AuthService.js"></script>
<script src="app/services/RegulatorService.js"></script>
<script src="app/services/CompanyService.js"></script>
<script src="app/controllers/LoginCtrl.js"></script>
<script src="app/controllers/CompanyCtrl.js"></script>
<script src="app/controllers/RegulatorCtrl.js"></script>
<script src="app/js/routingConfig.js"></script>
</body>
</html>